<h1>Editing invite</h1>

<% form_for(@invite) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :available %><br />
    <%= f.text_field :available %>
  </p>
  <p>
    <%= f.label :used %><br />
    <%= f.text_field :used %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @invite %> |
<%= link_to 'Back', invites_path %>
