<table id="debug_output" cellspacing="0">
  
  <% if @time %>
    <tr>
      <% @time.each do |key,value| %>
        <td class="label"><%= key %> response time</td> 
        <td><%= (value.to_f * 1000).round %> milliseconds</td>
      <% end %>
    </tr>
    <tr>
      <td class="label">Google Query String</td>
      <td><%= @google[:google][:google_query].gsub(/ /,"<br/>") %></td>
    </tr>
    <tr>
      <td class="label">Google Search URL</td>
      <td><%= link_to 'Open GSA result', @google[:google][:full_query_path], :target => '_blank' %></td>
    </tr>
    <tr>
      <td class="label">Location</td>
      <td>
        <%= debug @location %>
        <% if @location.city_state? %>
          <a href="http://maps.google.com/?q=http:%2F%2Fwww.nearby.org.uk%2Fgoogle%2FsetupCircle.kml.pl%3Fradius%3D<%= @location.radius %>miles&ie=UTF8&ll=<%= @location.latitude %>,-<%= @location.longitude %>&spn=6.117218,9.074707&z=7&om=0">Map location</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="label">@options</td>
      <td><%= @options.inspect %></td>
    </tr>
    <% if @override %>
      <tr>
        <td class="label">@override</td>
        <td><%= debug @override %></td>
      </tr>
    <% end %>
    <tr>
      <td class="label">Sort</td>
      <td><%= @options[:sort] %></td>
    </tr>
  <% end %>
</table>