<div id="search_location">
  Searching
  <% if location.everywhere? %>
     <span id="loc"><strong>everywhere</strong></span>
  <% elsif location.only_state? %>
    <span id="loc">in <strong><%= location.state.titlecase %></strong></span>
  <% else %>
    <span id="loc">near <strong><%= "#{location.city.titlecase}, #{location.state.titlecase}" %></strong></span>
  <% end %>
  <%= link_to('change', { :action => 'set_location', :location => location.zip }, :id => 'change_location', :onclick => 'return false') %>
  <div id="location_changer" style="display:none;">
    <h3>Change your location</h3>
    <p>Some things to try:</p>
    <ul>
      <li>City, State <span class="example">(San Diego, CA)</span></li>
      <li>Zip <span class="example">(92121)</span></li>
      <li>State <span class="example">(California)</span></li>
      <li><a href="#" onclick="return false;" id="location_anywhere">Everywhere</a></li>
    </ul>
    <input type="text" name="location" id="location" value="<%= location.form_value %>" />
    <img src="/images/indicator.gif" alt="Loading..." id="location_update_indicator" style="display:none;" /><input type="button" id="location_update" value="Update" /><span id="location_cancel_container"> or <a href="#" id="location_cancel">Cancel</a></span>
  </div>
  
  <script type="text/javascript">
    var submit_on_location_change = <%= params[:action] == 'home' ? false : true %>;
    $('change_location').observe('click', function() { $('location_changer').toggle(); $('location').focus(); });
    $('location_update').observe('click', function(e) { changeLocation(e,submit_on_location_change); });
    $('location_cancel').observe('click', function() { $('location_changer').toggle() });
    $('location').observe('focus', function() { $('location').select(); });
    $('location_anywhere').observe('click', function(e) { $('location').value = 'anywhere'; changeLocation(e,submit_on_location_change) });
    $('location').observe('keypress', function(e) { e.keyCode == 13 ? changeLocation(e,submit_on_location_change) : null });
    function changeLocation(e,submit) {
      // cancel the bubble so the form doesn't get submitted
      e.stop();
      
      // cancel any outstanding ajax requests
      /*
      Ajax.currentRequests.each(function(req) { 
        req ? req.transport.abort() : null
      });
      */
      
      var value = $F('location');
      $('location').disable();
      $('location_update_indicator').show();
      // $('location_update').hide();
      $('location_cancel_container').hide();
      new Ajax.Request('/search/set_location',
                   { asynchronous:false,
                     method:'get',
                     parameters:'value='+value,
                     onSuccess:function(r) {
                       $('location').enable();
                       $('location_changer').hide();
                       $('location').value = r.responseText.match(/>(.*?)</)[1];
                       $('loc').update(r.responseText);
                       $('location_error') ? $('location_error').remove() : null;
                       if(submit) {
                         var form = $('search_form2');
                         form.submit(); form.disable();
                       }
                     },
                     onComplete:function() {
                       $('location_update').show();
                       $('location_update_indicator').hide();
                       $('location_cancel_container').show();
                     },
                     onFailure:function(r) {
                       $('location').enable();
                       $('location').insert({before:"<p id=\"location_error\">"+r.responseText+"</p>"});
                     }
                    });
    }
  </script>
</div>