<div id="search_location">
  Searching
  <% if location.everywhere? %>
     <span id="loc"><strong>everywhere</strong></span>
  <% elsif location.only_state? %>
    <span id="loc">in <strong><%= location.state.titlecase %></strong></span>
  <% else %>
    <span id="loc">near <strong><%= "#{location.city.titlecase}, #{location.state.titlecase}" %></strong></span>
  <% end %>
  <%= link_to('change', { :action => 'set_location', :location => location.zip }, :id => 'change_location') %>
  <input type="hidden" name="location" id="location" value="<%= location.form_value %>" />
  <script type="text/javascript">
    // extend the InPlaceEditor control to include a custom callback fired after the form is put on the page
    Ajax.InPlaceEditor.prototype.__enterEditMode = Ajax.InPlaceEditor.prototype.enterEditMode;
    Object.extend(Ajax.InPlaceEditor.prototype, {
      enterEditMode:function(e) {
        this.__enterEditMode(e);
        this.triggerCallback('onFormReady',this._form);
      }
    });
    new Ajax.InPlaceEditor('loc', '<%= url_for(:action => 'set_location', :location => location.zip) %>',
                            { okText:'Save',
                              externalControl:'change_location',
                              onFormReady: function(obj,form) {
                                form.getInputs().first().value = '';
                              },
                              ajaxOptions:{
                                onSuccess:function(r) {
                                  $('location').value = r.responseText.match(/>(.*?)</)[1];
                                  if(form = $('search_form2')) {
                                    // don't let user click the edit location field anymore
                                    $('loc').stopObserving('click'); $('change_location').remove();
                                    // submit the form and disable the fields
                                    form.submit(); form.disable();
                                  }
                                },
                                onFailure:function(r) {
                                  alert('Please provide a valid zip code to change your location');
                                }
                              }
                            });
  </script>
</div>