<% unless result.nil? or result[:title].blank? %>
  
  <% if params[:style] == 'short' %>
  
    <%# mini results, ?style=short %>
    
    <div class="result <%= result[:meta][:category] ? urlize(result[:meta][:category]).singularize : '' %> <%= result[:level] > 1 ? 'sub' : '' %>">
      <div class="text">
        <div class="title <%= "sport #{result[:meta][:channel].downcase}" if result[:meta] && result[:meta][:channel] %>">
          <h3><%= link_to un(result[:title].split('|').first.strip), result[:url] %></h3>
        </div>
      </div>
    </div>
      
  <% else %>
    
    <%# full length results, ?style=long or no style in URL %>
  
    <div id="result_<%= result[:num] %>" class="result <%= result[:meta][:category] ? urlize(result[:meta][:category]).singularize : '' %> <%= result[:level] > 1 ? 'sub' : '' %>">
      <div class="text">
        <div class="title <%= "sport #{result[:meta][:channel].downcase}" if activity?(result) && result[:meta] && result[:meta][:channel] %>">
          <h3><%= link_to un(result[:title].split('|').first.strip), result[:url] %></h3>
          <%= output_rating(rand(6)) %>
        </div>
        <% if result[:abstract] && !activity?(result) %>
          <span class="abstract"><%= un result[:abstract] %></span>
        <% end %>
      </div>
      <ul class="meta">
        <li><strong>What:</strong>
          <% if result[:meta][:channel] %>
            <%= result[:meta][:channel].split('\\').first %>
          <% end %>
          <% if result[:meta][:media_types] && result[:meta][:media_types].first %>
            <%= result[:meta][:media_types].first.values.first.split('\\').first %>
          <% end %>
        </li>
        <% if activity?(result) %>
          <li><strong>Where:</strong> <%= result[:meta][:city] %>, <%= result[:meta][:state] %></li>
          <li><strong>When:</strong> <%= result[:meta][:start_date].strftime('%A, %B %d, %Y') %></li>
        <% end %>
      </ul>
      <% if activity?(result) %>
        <div id="result_<%= result[:num] %>_links" class="related_links">
          
          <% if result[:meta][:online_registration_available] %>
            <%= link_to('Register Now', result[:url], :class => 'register_link') %>
          <% end %>
          
          <% if SearchController::DO_RELATED_SEARCH %>
            <strong>Related:</strong>
            <ul>
              <li id="result_<%= result[:num] %>_links_registrants"></li>
              <li id="result_<%= result[:num] %>_links_watching"></li>
              <li id="result_<%= result[:num] %>_links_discussions"></li>
              <li id="result_<%= result[:num] %>_links_articles"></li>
              <li id="result_<%= result[:num] %>_links_training"></li>
            </ul>
            <img src="/images/indicator.gif" alt="Loading..." id="result_<%= result[:num] %>_indicator" />
          <% end %>
          
        </div>
        
        <% if SearchController::DO_RELATED_SEARCH %>
        
          <!-- save these up in a variable and output later -->
          <script type="text/javascript">
            <%= ajax_for_result_related(result, :discussions) %>
            <%= ajax_for_result_related(result, :articles) %>
            <%= ajax_for_result_related(result, :training) %>

            // generate a random number of registrants (turn off the clickable link for now)
            $('result_<%= result[:num] %>_links_registrants').update(Math.round(Math.random()*80)+' registrants');
            $('result_<%= result[:num] %>_links_watching').update(Math.round(Math.random()*40)+' watching');
          </script>
        <% end %>
      <% end %>

    </div>
    
  <% end %>
  
<% end %>