<% style ||= 'long' %>

<% unless result.nil? or result[:title].blank? %>
  
  <% if style == 'short' %>
  
    <%# mini results, ?style=short %>
    <div class="result <%= result[:meta][:category] ? urlize(result[:meta][:category]).singularize : '' %> <%= result[:level] > 1 ? 'sub' : '' %>">
      <div class="title <%= "sport #{result[:meta][:channel].downcase}" if result[:meta] && result[:meta][:channel] %>">
        <h3><%= link_to un(result[:title].split('|').first.strip), result[:url] %></h3>
      </div>
    </div>
      
  <% else %>
    
    <%# full length results, ?style=long or no style in URL %>

    <% if do_date_separators %>
      <% if result[:meta][:start_date] && @month_separator_check != "#{result[:meta][:start_date].month.to_s}/#{result[:meta][:start_date].year.to_s}" %>
        <div class="month_separator">
          <%= result[:meta][:start_date].to_s(:month_year) %>
        </div>
        <% @month_separator_check = "#{result[:meta][:start_date].month.to_s}/#{result[:meta][:start_date].year.to_s}" %>
      <% end %>
    <% end %>
  
    <div id="result_<%= result[:num] %>" class="result <%= result[:meta][:category] ? urlize(result[:meta][:category]).singularize : '' %> <%= result[:level] > 1 ? 'sub' : '' %>">

      <div class="title <%= "sport #{result[:meta][:channel].downcase}" if activity?(result) && result[:meta] && result[:meta][:channel] %>">
        <% if activity?(result) && result[:meta] && result[:meta][:channel] %>
          <a class="sport_icon" href="#" onclick="$('sport').value = '<%= result[:meta][:channel].titlecase %>'; $('search_form2').submit(); return false;"><img src="/images/sport_icon_<%= result[:meta][:channel].downcase %>.png" alt="" /></a>
        <% end %>
        <h3><%= link_to un(result[:title].split('|').first.strip), result[:url] %></h3>
        <%= output_rating(rand(6)) %>
      </div>
      <% if result[:abstract] && !activity?(result) %>
        <span class="abstract"><%= un result[:abstract] %></span>
      <% end %>

      <ul class="meta">
        <% if result[:meta][:channel] %>
          <li><strong>What:</strong>
            <%= result[:meta][:channel].split('\\').first %>
            <% if result[:meta][:media_types] && result[:meta][:media_types].first %>
              <%= result[:meta][:media_types].first.value.split('\\').first %>
            <% end %>
          </li>
        <% end %>
        <% if activity?(result) %>
          <li><strong>Where:</strong> <%= result[:meta][:city] %>, <%= result[:meta][:state] %></li>
          <li><strong>When:</strong> <%= result[:meta][:start_date].to_s(:full_with_day) %></li>
        <% end %>
        <% if training?(result) && result[:meta][:participation_criteria] %>
          <li><strong>Difficulty:</strong> <%= result[:meta][:participation_criteria] %></li>
          <li><strong>Price:</strong> <%= result[:meta][:online_registration_cost] %></li>
        <% end %>
        <% if article?(result) %>
          <li><strong>Published on:</strong> <%= result[:meta][:update_date_time].to_s(:standard) %></li>
        <% end %>
      </ul>
      <% if activity?(result) %>
        <div id="result_<%= result[:num] %>_actions" class="action_links">
          <% if result[:meta][:online_registration_available] %>
            <%= link_to('Register Now', result[:url], :class => 'register_link') %>
          <% end %>
          
          <% if activity?(result) %>
            <%= link_to('Flag', new_flag_path(:id => result[:meta][:asset_id], :title => format_title(result[:title])), :class => 'flag') %>
          <% end %>
          
          <ul>
            <li id="result_<%= result[:num] %>_links_registrants"></li>
            <li id="result_<%= result[:num] %>_links_watching"></li>
          </ul>
        </div>
        
        <div class="related_links_container">
          <%= image_tag('indicator.gif', { :alt => 'Loading...', :id => "result_#{result[:num]}_indicator" }) %>
          <div id="result_<%= result[:num] %>_links" class="related_links" style="display:none;">
            <% if SearchController::DO_RELATED_SEARCH %>
              <strong>Related:</strong>
              <ul>
                <li id="result_<%= result[:num] %>_links_discussions"></li>
                <li id="result_<%= result[:num] %>_links_articles"></li>
                <li id="result_<%= result[:num] %>_links_training"></li>
                <li id="result_<%= result[:num] %>_links_photos"></li>
                <li id="result_<%= result[:num] %>_links_videos"></li>
                <li id="result_<%= result[:num] %>_links_tweets"></li>
              </ul>
              <script type="text/javascript">
                $('result_<%= result[:num] %>_links_registrants').update(Math.round(Math.random()*80)+' registrants');
                $('result_<%= result[:num] %>_links_watching').update(Math.round(Math.random()*40)+' watching');
              </script>
              <% if @ajax %>

                <% @ajax += ajax_for_result_related(result) %>

              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>