<% unless result[:title].blank? %>
  <div id="result_<%= result[:num] %>" class="result <%= result[:meta][:category] ? urlize(result[:meta][:category]).singularize : '' %> <%= result[:level] > 1 ? 'sub' : '' %>">
    <div class="text">
      <div class="title">
        <%# link_to(image_tag('/images/icons/magnifier.png'), result.url, :class => 'snap_shots', :onclick => 'return false;') %>
        <h3><%= link_to un(result[:title].split('|').first.strip), result[:url] %></h3>
        <%= output_rating(result[:rating]) %>
      </div>
      <%= link_to(image_tag('/images/icons/add.png'), '#', :class => 'save', :title => 'Save to my Calendar') %>
      <% if result[:abstract] %>
        <span class="abstract"><%= un result[:abstract] %></span>
      <% end %>
    </div>
    <ul class="meta">
      <% if result[:meta][:channel] %><li><strong>Sport:</strong> <%= result[:meta][:channel] %></li><% end %>
      <% if result[:meta][:category] and !activity?(result)%><li><strong>Category:</strong> <%= result[:meta][:category] %></li><% end %>
      <% if activity?(result) %>
        <li><strong>Location:</strong> <%= result[:meta][:city] %>, <%= result[:meta][:state] %></li>
        <li><strong>Date:</strong> <%= result[:meta][:start_date].strftime('%A, %B %d, %Y') %></li>
      <% end %>
    </ul>
    <% if activity?(result) %>
      <div id="result_<%= result[:num] %>_links" class="related_links">
        <% if result[:meta][:online_registration_available] %>
          <a href="#" class="register_link"><img src="/images/button_register_now.png" /></a>
        <% end %>
        <strong>Related:</strong>
        <ul>
          <li id="result_<%= result[:num] %>_links_registrants"></li>
          <li id="result_<%= result[:num] %>_links_watching"></li>
          <li id="result_<%= result[:num] %>_links_discussions"></li>
        </ul>
        <img src="/images/indicator.gif" alt="Loading..." id="result_<%= result[:num] %>_indicator" />
      </div>
      <% if SearchController::DO_RELATED_SEARCH %>
        <script type="text/javascript">
          new Ajax.Request( '/search/google.json?num=1&filter=s&q=%22<%= CGI::escape(un(result[:title].split("|").first.strip).gsub(/<.*?>/,'')) %>%22&inurl=community.active.com',
                            { evalscripts:true,
                              onSuccess:function(r) {
                                total = r.responseText.evalJSON().google.total_results
                                if(total > 0) {
                                    $('result_<%= result[:num] %>_links_discussions').insert({bottom:'<a href="/search?q=%22<%= CGI::escape(un(result[:title].split("|").first.strip).gsub(/<.*?>/,'')) %>%22&inurl=community.active.com">'+total+' discussion'+(total != 1 ? 's' : '')+'</a>'});
                                  }
                                $('result_<%= result[:num] %>_indicator').remove();
                                }
                            });
        
          // generate a random number of registrants
          $('result_<%= result[:num] %>_links_registrants').update('<a href="#">'+Math.round(Math.random()*80)+' registrants</a>');
          $('result_<%= result[:num] %>_links_watching').update('<a href="#">'+Math.round(Math.random()*40)+' watching</a>');
        </script>
      <% end %>
    <% end %>
    <!--
    <div class="preview_image">
      <%= image_tag result[:meta][:photoURL] unless result[:meta][:photoURL].nil? %>
    </div>
    -->
  
  </div>
<% end %>