<div id="refine_container">
  <div id="activity_search" class="tab">
    <form id="search_form" name="search_form" method="get" action="<%= url_for(:controller => 'search') %>">
      <div id="form_contents">
        <input type="hidden" name="mode" id="mode" value="<%= mode %>" />
        <% if location_aware_search_mode?(mode) %>
          <%= render :partial => 'location', :locals => { :location => @location } %>
        <% end %>
        <%= render :partial => "search/modes/#{mode}" %>
        <%= render :partial => 'search/modes/debug' if is_admin? %>
        <a id="commit" href="#" onclick="$('search_form').submit(); return false;">
          <%= image_tag('button_search.png', :class => 'submit') %>
        </a>
    </form>
  </div>
  <%= render :partial => 'popular_local_searches', :locals => { :location_text => @location.form_value } unless @popular_local_searches.empty? %>
  <%= render :partial => 'related_searches' unless @query == '' || @related_searches.empty? %>
</div>