<div id="sort">
  <strong>Sort:</strong>
  <ul>
    <li <%= 'class="selected"' if @sort == 'relevance' %>><a href="<%= request.path_info %>?<%= request.query_string.gsub(/(&sort=.*?)(&|$)/,'\2') %>&sort=relevance">Most Relevant</a></li>
    <li <%= 'class="selected"' if @sort == 'date' %>><a href="<%= request.path_info %>?<%= request.query_string.gsub(/(&sort=.*?)(&|$)/,'\2') %>&sort=date">Date (Soonest)</a></li>
    <!-- <li <%= 'class="selected"' if params[:sort] == 'name' %>><a href="#" onclick="sort('name'); return false;">Name (A-Z)</a></li> -->
    <!-- <li <%= 'class="selected"' if params[:sort] == 'location' %>><a href="#" onclick="sort('location'); return false;">Location</a><li> -->
    <!-- <li <%= 'class="selected"' if params[:sort] == 'rating' %>><a href="#" onclick="sort('rating'); return false;">Rating (Best)</a></li> -->
  </ul>
</div>