<div id="sort">
  <strong>Sort:</strong>
  <ul>
    <li class="<%= 'selected' if @sort == 'relevance' %>"><%= link_to('Most Relevant', params.merge(:sort => 'relevance')) %></li>
    <li class="<%= 'selected' if @sort == 'date' %>"><%= link_to('Date (soonest)', params.merge(:sort => 'date')) %></li>
    <!-- <li <%= 'class="selected"' if params[:sort] == 'name' %>><a href="#" onclick="sort('name'); return false;">Name (A-Z)</a></li> -->
    <!-- <li <%= 'class="selected"' if params[:sort] == 'location' %>><a href="#" onclick="sort('location'); return false;">Location</a><li> -->
    <!-- <li <%= 'class="selected"' if params[:sort] == 'rating' %>><a href="#" onclick="sort('rating'); return false;">Rating (Best)</a></li> -->
  </ul>
</div>