<%= render :partial => 'search_modes', :locals => { :mode => @mode } %>

<form id="search_form" method="get" action="<%= url_for(:controller => 'search') %>">
  <!-- <%= render :partial => 'location', :locals => { :location => @location } %> -->
  <!--
  <input type="text" name="q" value="" onkeypress="return handleEnter(this.form, event);" />
	<input type="image" name="commit" src="/images/button_search_big.png" class="submit" />
	<div id="more_link"><a href="#" onclick="$('activity_search').toggle(); return false;">More Options</a></div>
  -->
	<div id="activity_search">
	  <% if location_aware_search_mode?(@mode) %>
      <%= render :partial => 'location', :locals => { :location => @location } %>
    <% end %>
	  <%= render :partial => "search/modes/#{@mode}" %>
	  <a id="commit" href="#" onclick="$('search_form').submit(); return false;">
      <%= image_tag('button_search.png', :class => 'submit') %>
    </a>
  </div>
  <!--
  <script type="text/javascript">
    // UGLY HACK COMING UP
    // remove the keywords and submit button from the activities search
    $('keywords_container').remove();
    $('commit').remove();
    $('start_date').value = 'today';
  </script>
  -->
  
</form>

<%= render :partial => 'popular_local_searches', :locals => { :location_text => @location.form_value } unless @popular_local_searches.empty?%>

<div id="first_time">
  <h3>First time here? <%= link_to 'Watch a screencast', :controller => 'screencast' %></h3>
</div>

<!-- feedback -->
<div id="uservoice_top3_container">
  <script src="http://active.uservoice.com/pages/search_beta/widgets/top3.js" type="text/javascript"></script>
</div>
