<table id="search_table">
  <tr>
    <td id="refine">
      <div style="overflow: hidden; width: 240px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => 'search_refine' %>
    </td>
    <td id="main">
      <div style="overflow: hidden; width: 400px; visibility: hidden; height: 0pt;"></div>
      <div id="results_container">
        <%= render :partial => 'breadcrumbs', :locals => { :google => @google } %>
      
        <div id="results">
                  
          <% unless @google[:results].blank? %>
        
            <% unless @google[:featured].empty? %>
              <div id="featured">
                <h3>Featured Events</h3>
                <%= render :partial => 'featured', :collection => @google[:featured] %>
              </div>
            <% end %>

            <%# render :partial => 'sort' %>
            
            <% do_separator = (params[:category] && params[:category].downcase == 'activities') ? true : false %>
            <%= render :partial => 'result', :collection => @google[:results], :locals => { :do_separator => do_separator } %>

            <% if @google[:google][:total_results] > GASOHOL_CONFIG[:google][:num] %>
              <div id="paging">
                <%= render :partial => 'paging', :locals => { :from => @google[:results].first[:num], 
                                                              :to => @google[:results].last[:num], 
                                                              :total => @google[:google][:total_results],
                                                              :results_per_page => GASOHOL_CONFIG[:google][:num],
                                                              :query => @google[:google][:query] } %>
              </div>
            <% end %>

          <% else %>
            <div class="no_results">No results found.</div>
          <% end %>
        </div>
      </div>
    </td>
    <td id="context">
      <div style="overflow: hidden; width: 280px; visibility: hidden; height: 0pt;"></div>
      <% if SearchController::DO_CONTEXT_SEARCH %>
        <%= render :partial => 'context' %>
        <% @ajax = ajax_for_context_related(:articles) + ajax_for_context_related(:discussions) + ajax_for_context_related(:training) + @ajax %>
      <% end %>
    </td>
  </tr>
</table>

<%= "<script type=\"text/javascript\">#{@ajax}</script>" %>

<% if SearchController::DEBUG or params[:debug] %>
  <%= render :partial => 'debug' %>
<% end %>