<table id="search_table">
  <tr>
    <td id="refine">
      <div style="overflow: hidden; width: 210px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => 'search_refine' %>
    </td>
    <td id="main">
      <div style="overflow: hidden; width: 400px; visibility: hidden; height: 0pt;"></div>
      <div id="results_container">
        <%= render :partial => 'breadcrumbs', :locals => { :google => @google } %>
      
        <div id="results">
                  
          <% unless @google[:results].blank? %>
          
            <%= render :partial => 'sort', :locals => { :sort => @sort } if params[:category] && params[:category].downcase == 'activities' %>
        
            <% unless @google[:featured].empty? %>
              <div id="featured">
                <h3>Featured Events</h3>
                <%= render :partial => 'featured', :collection => @google[:featured] %>
              </div>
            <% end %>
            
            <%= render :partial => 'result', :collection => @google[:results][0..3], :locals => { :do_date_separators => @do_date_separators } %>
            
            <div id="event_directors">
              Want to list <strong>your</strong> event with Active.com? <a href="http://www.active.com/events/event_add_listing.cfm">Add it here</a>.
            </div>
            
            <%= render :partial => 'result', :collection => @google[:results][4..-1], :locals => { :do_date_separators => @do_date_separators } %>

            <% if @google[:google][:total_results] > GASOHOL_CONFIG[:google][:num] %>
              <div id="paging">
                <%= render :partial => 'paging', :locals => { :from => @google[:results].first[:num], 
                                                              :to => @google[:results].last[:num], 
                                                              :total => @google[:google][:total_results],
                                                              :results_per_page => params[:num] || GASOHOL_CONFIG[:google][:num],
                                                              :query => @google[:google][:query] } %>
              </div>
            <% end %>

          <% else %>
            <%= render :partial => 'no_results' %>
          <% end %>
        </div>
      </div>
    </td>
    <td id="context">
      <div style="overflow: hidden; width: 250px; visibility: hidden; height: 0pt;"></div>
      <% if SearchController::DO_CONTEXT_SEARCH %>
        <%= render :partial => 'context' %>
        <% @ajax = ajax_for_context_related(:articles) + ajax_for_context_related(:discussions) + ajax_for_context_related(:training) + @ajax %>
      <% end %>
    </td>
  </tr>
</table>

<script type="text/javascript">
  Ajax.currentRequests = $A([]);
  <%= @ajax %>
</script>

<% if params[:debug] %>
  <%= render :partial => 'debug' %>
<% end %>

<!-- feedback -->
<script src="http://active.uservoice.com/pages/search_beta/widgets/tab.js?alignment=right&amp;color=990000" type="text/javascript"></script>
