<%= render :partial => 'search_modes', :locals => { :mode => @mode } %>

<table id="search_table">
  <tr>
    <td id="refine">
      <div style="overflow: hidden; width: 210px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => "search/forms/#{@mode}", :layout => 'search/forms/layout', :locals => { :mode => @mode } %>
      
      <%= render :partial => 'popular_local_searches', :locals => { :location_text => @location.form_value } unless @popular_local_searches.empty? %>
      <%= render :partial => 'related_searches' unless @query == '' || @related_searches.empty? %>
    </td>
    <td id="main">
      <div style="overflow: hidden; width: 400px; visibility: hidden; height: 0pt;"></div>
      <div id="results_container">
        <%= render :partial => 'breadcrumbs', :locals => { :google => @google } %>
      
        <div id="results">
                  
          <% unless @google.results.empty? %>
          
            <%= render :partial => 'sort', :locals => { :sort => @sort } if @mode == 'activities' %>
            
            <% unless @google.featured.empty? %>
              <div id="featured">
                <h3>Featured Events</h3>
                <%= render :partial => 'search/results/featured', :collection => @google.featured %>
              </div>
            <% end %>
            
            <!-- normal results -->
            <%= render :partial => 'results', :locals => { :results => @google.results, :do_date_separators => @do_date_separators } %>
            <%# render :partial => 'add_activity_message' if @mode == 'activities' %>

            <% if @google.total_results > GASOHOL_CONFIG[:google][:num] %>
              <div id="paging">
                <%= will_paginate(@google) %>
              </div>
            <% end %>

          <% else %>
            <%= render :partial => 'no_results' %>
          <% end %>
        </div>
      </div>
    </td>
    
    <!-- top 5 relevant results when user has sorted by date -->
    <% if @mini_relevant_results && @mini_relevant_results.results.length > 0 %>
      <td id="context">
        <div id="relevant_results">
          <h4>Most relevant results for '<%= params[:q] %>':</h4>
          <%= render :partial => 'results', :locals => { :results => @mini_relevant_results.results, :title_only => true, :numbered => false } %>
          <%= link_to('More results &raquo;', params.merge!({:sort => 'relevance'}), :class => 'more') %>
        </div>
      </td>
    <% end %>
    
  </tr>
</table>

<%= render :partial => 'debug' if params[:debug] %>

<!-- feedback -->
<script src="http://active.uservoice.com/pages/search_beta/widgets/tab.js?alignment=right&amp;color=990000" type="text/javascript"></script>
