<%= render :partial => 'search_modes', :locals => { :mode => @mode } %>

<table id="search_table">
  <tr>
    <td id="refine">
      <div style="overflow: hidden; width: 210px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => "search/forms/#{@mode}", :layout => 'search/forms/layout', :locals => { :mode => @mode } %>
      
      <%= render :partial => 'popular_local_searches', :locals => { :location_text => @location.form_value, :popular_local_searches => @popular_local_searches } unless @popular_local_searches.empty? %>
      <%= render :partial => 'related_searches', :locals => { :related_searches => @related_searches } unless @query == '' || @related_searches.empty? %>
    </td>
    <td id="main">
      <div style="overflow: hidden; width: 400px; visibility: hidden; height: 0pt;"></div>
      <div id="results_container">
        <%= render :partial => 'breadcrumbs', :locals => { :google => @google } %>
      
        <div id="results">
                  
          <% unless @google.results.empty? %>
          
            <%= render :partial => 'sort', :locals => { :sort => @sort } if @mode == 'activities' %>
            
            <% unless @google.featured.empty? %>
              <div id="featured">
                <h3>Featured Events</h3>
                <%= render :partial => 'search/results/featured', :collection => @google.featured %>
              </div>
            <% end %>
            
            <!-- top 5 relevant results when user has sorted by date -->
            <% if @mini_relevant_results && @mini_relevant_results.results.length > 0 %>
              <h3>Most relevant results for '<%= params[:q] %>':</h3>
              <div id="relevant_results">
                <% @mini_relevant_results.results.each do |result| %>
                  <%= render :partial => "search/results/#{result.type}", :layout => 'search/results/layout_short', :locals => { :result => result } %>
                <% end %>
                <%= link_to('More relevant results &raquo;', params.merge!({:sort => 'relevance'}), :class => 'more') %>
              </div>
              <h3>All '<%= params[:q] %>' results sorted by date</h3>
            <% end %>
            
            <!-- normal results -->
            <%= render :partial => 'results', :locals => { :results => @google.results, :do_date_separators => @do_date_separators } %>
            <%# render :partial => 'add_activity_message' if @mode == 'activities' %>

            <% if @google.total_results > GASOHOL_CONFIG[:google][:num] %>
              <div id="paging">
                <%= will_paginate(@google) %>
              </div>
            <% end %>

          <% else %>
            <%= render :partial => 'no_results' %>
          <% end %>
        </div>
      </div>
    </td>
    
  </tr>
</table>

<%= render :partial => 'debug' if params[:debug] %>

<!-- feedback -->
<script src="http://active.uservoice.com/pages/search_beta/widgets/tab.js?alignment=right&amp;color=990000" type="text/javascript"></script>
