<script type="text/javascript">
  // have to put the related context stuff here if we want these results to come back
  // before the regular related searches for each and every event
  <%= ajax_for_context_related(:articles) %>
  <%= ajax_for_context_related(:discussions) %>
  <%= ajax_for_context_related(:training) %>
</script>

<table id="search_table">
  <tr>
    <td id="refine">
      <div style="overflow: hidden; width: 240px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => 'search_refine' %>
    </td>
    <td id="main">
      <div style="overflow: hidden; width: 400px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => 'breadcrumbs', :locals => { :google => @google } %>

      <div id="results">
        <% unless @google[:results].blank? %>
        
          <% unless @google[:featured].empty? %>
            <div id="featured">
              <h3>Featured Events</h3>
              <%= render :partial => 'featured', :collection => @google[:featured] %>
            </div>
          <% end %>

          <%= render :partial => 'sort' %>

          <%= render :partial => 'result', :collection => @google[:results] %>

          <% if @google[:google][:total_results] > GASOHOL_CONFIG[:google][:num] %>
            <div id="paging">
              <%= render :partial => 'paging', :locals => { :from => @google[:results].first[:num], 
                                                            :to => @google[:results].last[:num], 
                                                            :total => @google[:google][:total_results],
                                                            :results_per_page => GASOHOL_CONFIG[:google][:num],
                                                            :query => @google[:google][:query] } %>
            </div>
          <% end %>

        <% else %>
          <div class="no_results">No results found.</div>
        <% end %>
      </div>
    </td>
    <td id="context">
      <div style="overflow: hidden; width: 280px; visibility: hidden; height: 0pt;"></div>
      <%= render :partial => 'context' %>
    </td>
  </tr>
  <% if SearchController::SHOW_TIMESTAMPS or params[:debug] %>
    <tr id="debugging">
      <td>&nbsp;</td>
      <td colspan="2">
        <%= render :partial => 'debug', :locals => { :time => @time, :google => @google } %>
      </td>
    </tr>
  <% end %>
</table>