<%= link_to '&laquo; Back to Search', root_path %>

<h1>Active Search Admin</h1>
<ul class="list">
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Invites', invites_path %></li>
  <li><%= link_to 'Cities', cities_path %></li>
  <li><%= link_to 'Overrides', overrides_path %></li>
  <li><%= link_to 'Flagged', flags_path %></li>
  <li><%= link_to 'Queries', :controller => 'queries' %></li>
  <li><%= link_to 'Monit', "http://#{request.host}:2812" %></li>
</ul>