<h1>Active Search Admin</h1>
<ul>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Invites', invites_path %></li>
  <li><%= link_to 'Cities', cities_path %></li>
  <li><%= link_to 'Overrides', overrides_path %></li>
  <li><%= link_to 'Flagged', flags_path %></li>
</ul>