<p>
  <b>Keywords:</b>
  <%=h @override.keywords %>
</p>

<p>
  <b>Location:</b>
  <%=h @override.location %>
</p>

<p>
  <b>Radius:</b>
  <%=h @override.radius %>
</p>

<p>
  <b>Start date:</b>
  <%=h @override.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @override.end_date %>
</p>

<p>
  <b>Sport:</b>
  <%=h @override.sport %>
</p>

<p>
  <b>Type:</b>
  <%=h @override.type %>
</p>

<p>
  <b>Custom:</b>
  <%=h @override.custom %>
</p>

<p>
  <b>Url:</b>
  <%=h @override.url %>
</p>


<%= link_to 'Edit', edit_override_path(@override) %> |
<%= link_to 'Back', overrides_path %>
