<table id="list">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Login</th>
    <th>Password</th>
    <th>Created</th>
    <th>Last Login</th>
    <th>Last Login IP</th>
    <th>Can log in?</th>
    <th>Banned?</th>
    <th>Admin?</th>
    <th>Invite Code</th>
    <th colspan="3">Actions</th>
  </tr>

<% users.each_with_index do |user,i| %>
  <tr>
    <td><h3><%= i+1 %></h3></td>
    <td><%= link_to(user.name, user_path(user.id)) %></td>
    <td><%= user.email %></td>
    <td><%= user.login %></td>
    <td>
      <% (1).upto(user.password.length) do %>*<% end %>
    </td>
    <td><%= user.created_at.to_s(:long) %></td>
    <td><%= user.last_login_at.to_s(:long) if user.last_login_at %></td>
    <td><%= user.last_login_ip if user.last_login_ip %></td>
    <td><%= user.can_log_in %></td>
    <td><%= user.is_banned %></td>
    <td><%= user.is_admin? %></td>
    <td><%= user.invite ? link_to(user.invite.code, invite_path(user.invite.id)) : '' %></td>
    <td><%= link_to 'Send Invite', "mailto:#{user.email}?subject=Invitation%20to%20the%20new%20Active.com%20beta%20search&body=You%20can%20now%20access%20our%20beta%20search!%0A%0Ahttp://#{request.env['HTTP_HOST']}/login%0A%0ALet%20me%20know%20if%20you%20have%20any%20questions%20or%20feedback!%0A%0AThanks,%0AJeremy%20Thomas" %></td>
    <td><%= link_to 'Show', user_path(user) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />