<h1>Listing flags</h1>

<table>
  <tr>
    <th>Asset</th>
    <th>Comments</th>
    <th>User</th>
    <th>Status</th>
  </tr>

<% for flag in @flags %>
  <tr>
    <td><%=h flag.asset_id %></td>
    <td><%=h flag.comments %></td>
    <td><%= link_to(flag.user.name, user_path(flag.user.id)) %></td>
    <td><%=h flag.status %></td>
    <td><%= link_to 'Show', flag %></td>
    <td><%= link_to 'Edit', edit_flag_path(flag) %></td>
    <td><%= link_to 'Destroy', flag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New flags', new_flag_path %>
