<table>
  <tr>
    <th>id</th>
    <th>user</th>
    <% for column in Query.content_columns %>
      <th><%= column.human_name %></th>
    <% end %>
  </tr>
  
  <% for query in queries %>
    <tr>
      <td><%= query.id %></td>
      <td><%= link_to(query.user.name, user_path(query.user.id)) %></td>
      <% for column in Query.content_columns %>
        <% if query.send(column.name).is_a? Time %>
          <td><%= h query.send(column.name).to_s(:db) %></td>
        <% else %>
          <td><%= h query.send(column.name) %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>