<ul id="downloads">
  <% if @queries.respond_to?('total_pages') %>
    <li><%= image_tag('/images/icons/application_view_columns.png') %> <%= link_to('Download this page in .csv', :format => 'csv', :page => params[:page] || 1) %></li>
  <% end %>
  <li><%= image_tag('/images/icons/application_view_columns.png') %> <%= link_to('Download all queries in .csv', :format => 'csv', :count => 'all') %></li>
</ul>

<table>
  <tr>
    <th>id</th>
    <% for column in Query.content_columns %>
      <th><%= column.human_name %></th>
    <% end %>
  </tr>
  
  <% for query in @queries %>
    <tr>
      <td><%= query.id %></td>
      <% for column in Query.content_columns %>
        <td><%= h query.send(column.name) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @queries.respond_to?('total_pages') %>
  <%= will_paginate @queries %>
<% end %>