<% if result[:abstract] %>
  <span class="abstract"><%= un result[:abstract] %></span>
<% end %>
<ul class="meta">
  <% if result[:meta][:channel] %>
    <li><strong>What:</strong>
      <%= result[:meta][:channel].split('\\').first %>
      <% if result[:meta][:media_types] && result[:meta][:media_types].first %>
        <%= result[:meta][:media_types].first.value.split('\\').first %>
      <% end %>
    </li>
  <% end %>
  <li><strong>Where:</strong> <%= result[:meta][:city] %>, <%= result[:meta][:state] %></li>
</ul>
