<form id="search_form" name="search_form" method="get" action="<%= url_for(:controller => 'search') %>">
  <input type="hidden" name="mode" id="mode" value="<%= mode %>" />
  <% if location_aware_search_mode?(mode) %>
    <%= render :partial => 'location', :locals => { :location => @location } %>
  <% else %>
    <input type="hidden" name="location" id="location" value="<%= params[:location] %>" />
  <% end %>
  
  <div id="keywords_container">
  	<label for="keywords">Keywords <span class="optional">(optional)</span></label>
  	<input type="text" name="q" id="q" value="<%= h(@original_keywords) %>" />
  </div>
  
  <div id="optional_search_fields">
    <%= yield %>
  </div>

  <%= render :partial => 'search/forms/debug' if is_admin? %>
  
  <button name="commit" id="commit" class="submit" onclick="submit();"><%= image_tag('button_search_big.png') %></button>
</form>
