<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>	
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
	<title>Active.com - Search</title>
	
	<%= stylesheet_link_tag 'reset','fonts','search', "skins/#{@skin}.css",'calendar_date_select/custom.css' %>
	<%= stylesheet_link_tag 'debug' if params[:debug] %>
	<%= javascript_include_tag 'prototype','effects','search','related','calendar_date_select/calendar_date_select','calendar_date_select/format_american','application' %>
  <% if params[:controller] == 'search' && params[:action] == 'index' %>
    <link href="<%= url_for(:controller => 'search', :action => 'google', :format => 'rss') %>?<%= request.query_string %>" rel="alternate" title="RSS" type="application/rss+xml" />
  <% end %>
</head>

<body id="<%= "#{params[:controller]}_#{params[:action]}" %>">

  <% if flash[:notice] %>
    <div id="notice" style="display:none;"><%= flash[:notice] %></div>
    <script type="text/javascript">
      $('notice').appear({delay:1,duration:1});
      $('notice').fade({delay:6});
    </script>
  <% end %>
  
  <div id="header">
    <div id="active">
      <div id="active_left">
        <%= link_to('<h1><span>Active.com</span></h1>', root_path) %>
      </div>

      <ul id="logged_in_options">
        <li><%= link_to 'Watch a Screencast', :controller => 'screencast' %></li>
        <li><%= link_to 'Logout', logout_path %></li>
        <li><%= link_to('Admin', :controller => 'admin') if is_admin? %></li>
      </ul>
      
      <ul id="switch_view">
        <li class="<%= 'selected' if @view == 'classic' %>"><%= link_to('Classic View', params.merge({:view => 'classic',:sort => @sort}), :title => 'Classic Active.com search results')%></li>
        <li class="last <%= 'selected' if @view == 'enhanced' %>"><%= link_to('Enhanced View', params.merge({:view => 'enhanced',:sort => @sort}), :title => 'Enhanced results with related items like articles, discussions and training plans')%></li>
      </ul>
    </div>
    <%# image_tag('beta_notice.png', { :alt => "Remember, it's a beta!", :id => 'beta_notice'}) %>
  </div>

  <div id="body">

    <%= yield %>
    
    <div id="skin_logo"></div>

    <div id="footer">
      <div id="copyright">Copyright &copy;2009 <%= link_to 'Active Network', 'http://activenetwork.com' %>.</div>
    </div>
  </div>
    
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-6622846-1");
      pageTracker._trackPageview();
    } 
    catch(err) {}
  </script>
  
</body>
</html>