<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>	
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
	<title>Active.com - Search</title>
	
	<%= stylesheet_link_tag 'reset','fonts','search', "skins/#{@skin}.css" %>
	<%= stylesheet_link_tag 'debug' if SearchController::DEBUG || params[:debug] %>
	<%= javascript_include_tag 'prototype','effects','search','controls','application' %>
	<script src="/javascripts/calendar_date_select/calendar_date_select.js?1207035522" type="text/javascript"></script>
  <script src="/javascripts/calendar_date_select/format_american.js?1207035522" type="text/javascript"></script>
  <link href="/stylesheets/calendar_date_select/custom.css?1229036774" media="screen" rel="stylesheet" type="text/css" />
  <% if params[:controller] == 'search' && params[:action] == 'index' %>
    <link href="/search/google.rss?<%= request.query_string %>" rel="alternate" title="RSS" type="application/rss+xml" />
  <% end %>
</head>

<body id="<%= "#{params[:controller]}_#{params[:action]}" %>">

  <% if flash[:notice] %>
    <div id="notice" style="display:none;"><%= flash[:notice] %></div>
    <script type="text/javascript">
      $('notice').appear({delay:1,duration:1});
      $('notice').fade({delay:6});
    </script>
  <% end %>
  
  <div id="header">
    <div id="active">
      <div id="active_left">
        <%= link_to('<h1><span>Active.com</span></h1>', root_path) %>
      </div>

      <ul id="logged_in_options">
        <li><%= link_to 'Watch a Screencast', :controller => 'screencast' %></li>
        <li><%= link_to 'Logout', logout_path %></li>
        <li><%= link_to('Admin', :controller => 'admin') if is_admin? %></li>
      </ul>
    </div>
    <img src="/images/beta_notice.png" alt="Remember, it's a beta!" id="beta_notice" />
  </div>

  <div id="body">

    <%= yield %>
    
    <div id="skin_logo"></div>

    <div id="footer">
      <div id="copyright">Copyright &copy;2009 <%= link_to 'Active Network', 'http://activenetwork.com' %>.</div>
    </div>
  </div>
    
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-6622846-1");
      pageTracker._trackPageview();
    } 
    catch(err) {}
  </script>
  
  <% if params[:controller] == 'search' && params[:action] == 'index' %>
    <script type="text/javascript">
      pageTracker._trackEvent("keywords","<%= params[:q] || '' %>");
      pageTracker._trackEvent("sport","<%= params[:sport] || '' %>");
      pageTracker._trackEvent("category","<%= params[:category] || '' %>");
      pageTracker._trackEvent("mediaType","<%= params[:type] || '' %>");
      pageTracker._trackEvent("subMediaType","<%= params[:custom] || '' %>");
      pageTracker._trackEvent("location","<%= params[:location] || '' %>");
    </script>
  <% end %>
  
</body>
</html>