<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>	
	<title>Active.com - Search</title>
	
	<%= stylesheet_link_tag 'reset','fonts','search' %>
	<%= javascript_include_tag 'prototype','effects','search','controls','application' %>

	<!-- <script type="text/javascript" src="http://shots.snap.com/ss/71d97129ad64f93ab8cfea8b021c4ee5/snap_shots.js"></script> -->

</head>

<body>
  
  <div id="header">
    <div id="active">
      <%= link_to(image_tag("/images/active_header_left.png", :id => "active_left"), root_path) %>
      <!-- <img src="/images/active_header_right.png" id="active_right" /> -->
      <ul id="logged_in_options">
        <li><%= link_to 'Logout', logout_path %></li>
        <li><%= link_to('Admin', users_path) if is_admin? %></li>
      </ul>
    </div>
  </div>

  <div id="body">
    <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
    <%= yield %>
  </div>
  
  <!-- feedback -->
  <script src="http://active.uservoice.com/pages/search_proof_of_concept/widgets/tab.js?alignment=left&amp;color=333333" type="text/javascript"></script>
  
  
</body>
</html>