<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>	
	<title>Active.com - Search</title>
	
	<%= stylesheet_link_tag 'reset','fonts','search', "skins/#{@skin}.css" %>
	<%= javascript_include_tag 'prototype','effects','search','controls','application' %>
	<script src="/javascripts/calendar_date_select/calendar_date_select.js?1207035522" type="text/javascript"></script>
  <script src="/javascripts/calendar_date_select/format_american.js?1207035522" type="text/javascript"></script>
  <link href="/stylesheets/calendar_date_select/custom.css?1229036774" media="screen" rel="stylesheet" type="text/css" />

</head>

<body id="<%= "#{params[:controller]}_#{params[:action]}" %>">
  
  <div id="header">
    <div id="active">
      <div id="active_left">
        <%= link_to('<h1><span>Active.com</span></h1>', root_path) %>
      </div>
      <ul id="logged_in_options">
        <li><%= link_to 'Logout', logout_path %></li>
        <li><%= link_to('Admin', users_path) if is_admin? %></li>
      </ul>
    </div>
    <img src="/images/beta_notice.png" alt="Remember, it's a beta!" id="beta_notice" />
  </div>

  <div id="body">
    <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
    <%= yield %>
  </div>
  
  <!-- feedback -->
  <script src="http://active.uservoice.com/pages/search_proof_of_concept/widgets/tab.js?alignment=left&amp;color=333333" type="text/javascript"></script>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-6622846-1");
      pageTracker._trackPageview();
    } 
    catch(err) {}
  </script>
  
  <div id="skin_logo"></div>
  
</body>
</html>